In [652]:
# Import necessary libraries
import pandas as pd
import numpy as np

In [653]:
# Reading file
df = pd.read_excel("IPL dataset.xlsx")

In [595]:
df.head()

,Match_date,Match_number,Match_venue,Match_time,Toss_winner,Toss_decision,Team1,Team1_score,Team2,Team2_score,Winning_team,Winning_margin
0,"Apr 18, 2008",1st match,"M Chinnaswamy Stadium, Bangalore",night,Royal Challengers Bangalore,field,Kolkata Knight Riders,222/3,RCB,82,Kolkata Knight Riders,140 runs
1,"Apr 19, 2008",2nd match,"Punjab Cricket Association Stadium, Mohali, Ch...",day/night,Chennai Super Kings,bat,Chennai Super Kings,240/5,Kings XI Punjab,207/4,Chennai Super Kings,33 runs
2,"Apr 19, 2008",3rd match,"Feroz Shah Kotla, Delhi",night,Rajasthan Royals,bat,Rajasthan Royals,129/8,Delhi Daredevils,132/1,Delhi Daredevils,9 wickets (with 29 balls remaining)
3,"Apr 20, 2008",4th match,"Eden Gardens, Kolkata",day/night,Deccan Chargers,bat,Deccan Chargers,110,Kolkata Knight Riders,112/5,Kolkata Knight Riders,5 wickets (with 6 balls remaining)
4,"Apr 20, 2008",5th match,"Wankhede Stadium, Mumbai",night,Mumbai Indians,bat,Mumbai Indians,165/6,RCB,166/5,Royal Challengers Bangalore,5 wickets (with 2 balls remaining)

In [596]:
# Function for splitting year
def extract_year(x):
      x = pd.to_datetime(x).strftime('%Y')
      x = int(x)
      return int(x)

In [597]:
# Applying extract_year function to splitting the year from Match date and create a new column called year
df['year'] = df['Match_date'].apply(extract_year)

In [598]:
df.head()

,Match_date,Match_number,Match_venue,Match_time,Toss_winner,Toss_decision,Team1,Team1_score,Team2,Team2_score,Winning_team,Winning_margin,year
0,"Apr 18, 2008",1st match,"M Chinnaswamy Stadium, Bangalore",night,Royal Challengers Bangalore,field,Kolkata Knight Riders,222/3,RCB,82,Kolkata Knight Riders,140 runs,2008
1,"Apr 19, 2008",2nd match,"Punjab Cricket Association Stadium, Mohali, Ch...",day/night,Chennai Super Kings,bat,Chennai Super Kings,240/5,Kings XI Punjab,207/4,Chennai Super Kings,33 runs,2008
2,"Apr 19, 2008",3rd match,"Feroz Shah Kotla, Delhi",night,Rajasthan Royals,bat,Rajasthan Royals,129/8,Delhi Daredevils,132/1,Delhi Daredevils,9 wickets (with 29 balls remaining),2008
3,"Apr 20, 2008",4th match,"Eden Gardens, Kolkata",day/night,Deccan Chargers,bat,Deccan Chargers,110,Kolkata Knight Riders,112/5,Kolkata Knight Riders,5 wickets (with 6 balls remaining),2008
4,"Apr 20, 2008",5th match,"Wankhede Stadium, Mumbai",night,Mumbai Indians,bat,Mumbai Indians,165/6,RCB,166/5,Royal Challengers Bangalore,5 wickets (with 2 balls remaining),2008

Splitting the match venues into two columns one is stadium and city. Stadium stores stadium name and city stores city name

In [599]:
df['Stadium'] = df['Match_venue'].str.split(',').str[0]

In [600]:
df['Stadium'].head()

0                 M Chinnaswamy Stadium
1    Punjab Cricket Association Stadium
2                      Feroz Shah Kotla
3                          Eden Gardens
4                      Wankhede Stadium
Name: Stadium, dtype: object

In [601]:

df['City'] = df['Match_venue'].str.split(',').str[1]

In [602]:
df.head()

,Match_date,Match_number,Match_venue,Match_time,Toss_winner,Toss_decision,Team1,Team1_score,Team2,Team2_score,Winning_team,Winning_margin,year,Stadium,City
0,"Apr 18, 2008",1st match,"M Chinnaswamy Stadium, Bangalore",night,Royal Challengers Bangalore,field,Kolkata Knight Riders,222/3,RCB,82,Kolkata Knight Riders,140 runs,2008,M Chinnaswamy Stadium,Bangalore
1,"Apr 19, 2008",2nd match,"Punjab Cricket Association Stadium, Mohali, Ch...",day/night,Chennai Super Kings,bat,Chennai Super Kings,240/5,Kings XI Punjab,207/4,Chennai Super Kings,33 runs,2008,Punjab Cricket Association Stadium,Mohali
2,"Apr 19, 2008",3rd match,"Feroz Shah Kotla, Delhi",night,Rajasthan Royals,bat,Rajasthan Royals,129/8,Delhi Daredevils,132/1,Delhi Daredevils,9 wickets (with 29 balls remaining),2008,Feroz Shah Kotla,Delhi
3,"Apr 20, 2008",4th match,"Eden Gardens, Kolkata",day/night,Deccan Chargers,bat,Deccan Chargers,110,Kolkata Knight Riders,112/5,Kolkata Knight Riders,5 wickets (with 6 balls remaining),2008,Eden Gardens,Kolkata
4,"Apr 20, 2008",5th match,"Wankhede Stadium, Mumbai",night,Mumbai Indians,bat,Mumbai Indians,165/6,RCB,166/5,Royal Challengers Bangalore,5 wickets (with 2 balls remaining),2008,Wankhede Stadium,Mumbai

In [603]:
df['Toss_decision'] = df.Toss_decision.str.title()

In [604]:
df['Match_time'] = df.Match_time.str.title()

In [605]:
df.head()

,Match_date,Match_number,Match_venue,Match_time,Toss_winner,Toss_decision,Team1,Team1_score,Team2,Team2_score,Winning_team,Winning_margin,year,Stadium,City
0,"Apr 18, 2008",1st match,"M Chinnaswamy Stadium, Bangalore",Night,Royal Challengers Bangalore,Field,Kolkata Knight Riders,222/3,RCB,82,Kolkata Knight Riders,140 runs,2008,M Chinnaswamy Stadium,Bangalore
1,"Apr 19, 2008",2nd match,"Punjab Cricket Association Stadium, Mohali, Ch...",Day/Night,Chennai Super Kings,Bat,Chennai Super Kings,240/5,Kings XI Punjab,207/4,Chennai Super Kings,33 runs,2008,Punjab Cricket Association Stadium,Mohali
2,"Apr 19, 2008",3rd match,"Feroz Shah Kotla, Delhi",Night,Rajasthan Royals,Bat,Rajasthan Royals,129/8,Delhi Daredevils,132/1,Delhi Daredevils,9 wickets (with 29 balls remaining),2008,Feroz Shah Kotla,Delhi
3,"Apr 20, 2008",4th match,"Eden Gardens, Kolkata",Day/Night,Deccan Chargers,Bat,Deccan Chargers,110,Kolkata Knight Riders,112/5,Kolkata Knight Riders,5 wickets (with 6 balls remaining),2008,Eden Gardens,Kolkata
4,"Apr 20, 2008",5th match,"Wankhede Stadium, Mumbai",Night,Mumbai Indians,Bat,Mumbai Indians,165/6,RCB,166/5,Royal Challengers Bangalore,5 wickets (with 2 balls remaining),2008,Wankhede Stadium,Mumbai

In [606]:
df.isnull().sum()

Match_date         0
Match_number       0
Match_venue        0
Match_time         0
Toss_winner        2
Toss_decision      2
Team1              0
Team1_score        8
Team2              0
Team2_score       10
Winning_team       0
Winning_margin    18
year               0
Stadium            0
City              13
dtype: int64

In [607]:
df.shape

(704, 15)

In [608]:
# Splitting the team score 1 and keeping only scores
df['Team1_score'] = df['Team1_score'].str.split('/', expand = True)

In [609]:
df.isnull().sum()

Match_date         0
Match_number       0
Match_venue        0
Match_time         0
Toss_winner        2
Toss_decision      2
Team1              0
Team1_score        8
Team2              0
Team2_score       10
Winning_team       0
Winning_margin    18
year               0
Stadium            0
City              13
dtype: int64

In [610]:
# Splitting the team score 2 and keeping only scores
df['Team2_score'] = df['Team2_score'].str.split('/', expand = True)

In [612]:
df.isnull().sum()

Match_date         0
Match_number       0
Match_venue        0
Match_time         0
Toss_winner        2
Toss_decision      2
Team1              0
Team1_score        8
Team2              0
Team2_score       10
Winning_team       0
Winning_margin    18
year               0
Stadium            0
City              13
dtype: int64

In [613]:
df.dtypes

Match_date        object
Match_number      object
Match_venue       object
Match_time        object
Toss_winner       object
Toss_decision     object
Team1             object
Team1_score       object
Team2             object
Team2_score       object
Winning_team      object
Winning_margin    object
year               int64
Stadium           object
City              object
dtype: object

In [614]:
df.head()

,Match_date,Match_number,Match_venue,Match_time,Toss_winner,Toss_decision,Team1,Team1_score,Team2,Team2_score,Winning_team,Winning_margin,year,Stadium,City
0,"Apr 18, 2008",1st match,"M Chinnaswamy Stadium, Bangalore",Night,Royal Challengers Bangalore,Field,Kolkata Knight Riders,222,RCB,82,Kolkata Knight Riders,140 runs,2008,M Chinnaswamy Stadium,Bangalore
1,"Apr 19, 2008",2nd match,"Punjab Cricket Association Stadium, Mohali, Ch...",Day/Night,Chennai Super Kings,Bat,Chennai Super Kings,240,Kings XI Punjab,207,Chennai Super Kings,33 runs,2008,Punjab Cricket Association Stadium,Mohali
2,"Apr 19, 2008",3rd match,"Feroz Shah Kotla, Delhi",Night,Rajasthan Royals,Bat,Rajasthan Royals,129,Delhi Daredevils,132,Delhi Daredevils,9 wickets (with 29 balls remaining),2008,Feroz Shah Kotla,Delhi
3,"Apr 20, 2008",4th match,"Eden Gardens, Kolkata",Day/Night,Deccan Chargers,Bat,Deccan Chargers,110,Kolkata Knight Riders,112,Kolkata Knight Riders,5 wickets (with 6 balls remaining),2008,Eden Gardens,Kolkata
4,"Apr 20, 2008",5th match,"Wankhede Stadium, Mumbai",Night,Mumbai Indians,Bat,Mumbai Indians,165,RCB,166,Royal Challengers Bangalore,5 wickets (with 2 balls remaining),2008,Wankhede Stadium,Mumbai

In [615]:
# Deleting match date column
del df['Match_date']

In [616]:
# Replacing Day/Night into Eveening in Match Time column

df['Match_time'].replace('Day/Night', 'Evening', inplace = True)

In [617]:
df.isnull().sum()

Match_number       0
Match_venue        0
Match_time         0
Toss_winner        2
Toss_decision      2
Team1              0
Team1_score        8
Team2              0
Team2_score       10
Winning_team       0
Winning_margin    18
year               0
Stadium            0
City              13
dtype: int64

In [618]:
    # Splitting unwanted strings for easy plotting in winning margin

df['Winning_margin'] = df['Winning_margin'].str.split('(', expand = True)

In [619]:
# Splitting unwanted strings for easy plotting in wiining team

df['Winning_team'] = df['Winning_team'].str.split('(', expand = True)

In [620]:
# Replacing lengthy string into short for easy labelling in plotting - Winning team

df['Winning_team'].replace('Match abandoned without a ball bowled', 'Match cancelled', inplace = True)

In [621]:
df['Winning_team'].replace('Match tied', 'Match Draw', inplace = True)

In [622]:
df['Winning_team'].replace('No result', 'Match Cancelled', inplace = True)

In [623]:
# Filling missing values in Wiining margin from winning team

df.Winning_margin.fillna(df.Winning_team, inplace=True)

In [624]:
df.isnull().sum()

Match_number       0
Match_venue        0
Match_time         0
Toss_winner        2
Toss_decision      2
Team1              0
Team1_score        8
Team2              0
Team2_score       10
Winning_team       0
Winning_margin     0
year               0
Stadium            0
City              13
dtype: int64

In [625]:
# Filling missing values with match cancelled in Team1_score
df.Team1_score.fillna('0', inplace = True)

In [626]:
# Filling missing values in Team2 score from Team1 score
df.Team2_score.fillna(df.Team1_score, inplace = True)

In [627]:
# Replacing Rajasthan into field in Toss decision 
df['Toss_decision'].replace('Rajasthan', 'Field', inplace = True)

In [628]:
# Replacing No into Match Cancelled in Toss decision 
df['Toss_decision'].replace('No', 'Match Cancelled', inplace = True)

In [629]:
# Filling missing values into match cancelled in Toss decision
df['Toss_decision'].fillna('Match Cancelled', inplace = True)

In [630]:
# Filling missing values into match cancelled in Toss winner
df['Toss_winner'].fillna('Match Cancelled', inplace = True)

In [631]:
# Filling missing values into evening (median) in Match time column

df['Match_time'].fillna('Evening', inplace = True)

In [632]:
# Filling missing values in City from stadium
df.City.fillna(df.Stadium, inplace = True)

In [633]:
# changing the names in City for easy labelling
df['City'].replace('Sharjah Cricket Stadium', 'Sharjah', inplace = True)

In [634]:
df['City'].replace('Bengaluru', 'Bangalore', inplace = True)

In [635]:
df['City'].replace('Dubai International Cricket Stadium', 'Dubai', inplace = True)

In [644]:
# Replacing 2028 into 2018 in the year column

df['year'].replace('2028', '2018', inplace = True)

In [637]:
df.dtypes

Match_number      object
Match_venue       object
Match_time        object
Toss_winner       object
Toss_decision     object
Team1             object
Team1_score       object
Team2             object
Team2_score       object
Winning_team      object
Winning_margin    object
year               int64
Stadium           object
City              object
dtype: object

In [638]:
df.head()

,Match_number,Match_venue,Match_time,Toss_winner,Toss_decision,Team1,Team1_score,Team2,Team2_score,Winning_team,Winning_margin,year,Stadium,City
0,1st match,"M Chinnaswamy Stadium, Bangalore",Night,Royal Challengers Bangalore,Field,Kolkata Knight Riders,222,RCB,82,Kolkata Knight Riders,140 runs,2008,M Chinnaswamy Stadium,Bangalore
1,2nd match,"Punjab Cricket Association Stadium, Mohali, Ch...",Evening,Chennai Super Kings,Bat,Chennai Super Kings,240,Kings XI Punjab,207,Chennai Super Kings,33 runs,2008,Punjab Cricket Association Stadium,Mohali
2,3rd match,"Feroz Shah Kotla, Delhi",Night,Rajasthan Royals,Bat,Rajasthan Royals,129,Delhi Daredevils,132,Delhi Daredevils,9 wickets,2008,Feroz Shah Kotla,Delhi
3,4th match,"Eden Gardens, Kolkata",Evening,Deccan Chargers,Bat,Deccan Chargers,110,Kolkata Knight Riders,112,Kolkata Knight Riders,5 wickets,2008,Eden Gardens,Kolkata
4,5th match,"Wankhede Stadium, Mumbai",Night,Mumbai Indians,Bat,Mumbai Indians,165,RCB,166,Royal Challengers Bangalore,5 wickets,2008,Wankhede Stadium,Mumbai

In [639]:
# Changing team 1 and team 2 score into integer
df['Team1_score'] = df['Team1_score'].apply(pd.to_numeric)

In [640]:
df['Team2_score'] = df['Team2_score'].apply(pd.to_numeric)

In [641]:
df.dtypes

Match_number      object
Match_venue       object
Match_time        object
Toss_winner       object
Toss_decision     object
Team1             object
Team1_score        int64
Team2             object
Team2_score        int64
Winning_team      object
Winning_margin    object
year               int64
Stadium           object
City              object
dtype: object

In [478]:
# Saving file for our visualization in Tableau
df.to_csv("IPL20.csv")